<div class="container footer">
    <a href="http://www.fairfoods.org/index.php?page=food_rescue.htm" target="_blank"><img src="images/ff_logo.jpg"
            alt="Fair Foods" title="Go to FairFoods.org"></a>
</div>