<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Two Dollar-A-Bag Sites | Fair Foods</title>
</head>
<body>
    <h1>Two Dollar-A-Bag Sites</h1>

</body>
</html>